@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-size: 1em;
  background-color: $gray;
  color: $text-color;
}

h1 {
  font-size: 2.4em;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $primary-color;
  font-size: 1.8em;
}

h4,span {
  font-size: 1.4em;
  font-weight: bold;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border-radius: 50%;
  margin-left:42%;
  width:150px;
  height: 150px;
  transform:translateY(-50px);
}
.content {
  float:left;
  margin-left:50px;
  width:900px;
  height:40px;
  padding-top: 8px;
  padding-left: 10px;
  margin-top:-20px;
  background-color: #ededed;
}
.contents{
  height:70px;
}
span{
  float:left;
  display: inline;
}